html, body {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.health {
  z-index: 20;
  width: 200px;
  height: 20px;
  border: 1px solid #555;
  background-color: #999;
  margin: 20px auto; }
  .health .health-value {
    width: 100%;
    height: 100%;
    background-color: #22bb22; }
  .health .health-text {
    color: #fff;
    margin-left: 5px; }

#left-analog {
  float: left;
  position: absolute !important;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #eee; }

#right-analog {
  float: left;
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ddd; }

#overlay, #help {
  position: absolute;
  top: 0;
  width: 100%;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none; }

.kineticjs-content {
  display: block !important;
  margin: 0px auto; }
