$health-bar-width: 200px;
$health-bar-height: 20px;

.health {
	width: $health-bar-width;
	height: $health-bar-height;
	border: 1px solid #555;
	background-color: #999;
	margin: 20px auto;

	.health-value {
		width: 80%;
		height: 100%;
		background-color: #22bb22;
	}

	.health-text {
		color: #fff;
		margin-left: 5px;
	}
}

.kineticjs-content {
	display: block !important;
	margin: 0px auto;
}